<nav class="blog-nav">
    <a class="blog-nav-item {% if home %}{{ home }}{% endif %}" href="/"> হোমপেজ</a>
    <a class="blog-nav-item {% if sign %}{{ sign }}{% endif %}"
       {% if user.is_authenticated %}
       href="/"><span class="fui-user"></span>ওয়েলকাম, {{ user.username|capfirst }}
       <a class="blog-nav-item" href={% url "logout" %}><span class="fui-power"></span> বিদায়</a>
       {% else %}
       href="{% url 'sign_up' %}"> নিবন্ধন/প্রবেশ{{ request.user.username }}
       {% endif %}
    </a>
</nav>
