{% load custom_tags %}
<div class="col-sm-3 col-sm-offset-1 blog-sidebar">
    <div class="sidebar-module">
        {% current_time "%Y-%m-%d" as the_date %}
        <p>আজ:  <span style="font-weight:900"> {{ the_date }}</span></p>
        {% current_time "%I:%M %p" as the_time %}
        <p>এখন বাজে:  <span style="font-weight:900"> {{ the_time }}</span></p>
        <br>
        <h4 class="fnf">কেউ কি পরিচিত?</h4><hr>
        <p>
            {% if request.user.is_authenticated %}
                {% people_you_may_know request.user.id as not_followed_people %}
                {% for p in not_followed_people %}
                    <!-- the ajax method will be called here by the "button class name" with "on-click" -->
                    <a data-user_id="{{ p.user_id }}" class="follow_btn">ফলো : {{ p.user.username|capfirst }} &nbsp;</a>
                    <small class="small"></small> <br>
                {% endfor %}
            {% endif %}
        </p>
        <br>
        <h4><a class="fnf" href="{% url 'following_list' %}">ফলো করি যাদের</a></h4>
        <hr>
        <h4><a class="fnf" href="{% url 'follower_list' %}">ফলো করে যারা</a></h4>
        <hr>
    </div>
</div>
