{% extends 'base.html' %}

{% block nav_ %}
    {% include 'includes/nav.html' with sign='active' %}
{% endblock %}

{% block head_ %}
    <div class="blog-header">
        <h3 class="blog-title">আসেন, কথা বলি</h3>
    </div>
{% endblock %}

{% block main_ %}
    <div class="col-sm-8 blog-main">
        <div class="blog-post">
            <form action="{% url 'sign_in_process' %}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="btn btn-success btn-hg" type="submit" value="নিশ্চিন্তে প্রবেশ করেন" style="font-weight:900; font-size:17px">
            </form>

        </div><!-- /.blog-post -->
    </div><!-- /.blog-main -->
{% endblock %}
