{% extends 'base.html' %}
{% load staticfiles %}

{% block nav_ %}
    {% include 'includes/nav.html' with home='active' %}
{% endblock %}

{% block head_ %}
    <div class="blog-header">
        <h1 class="blog-title">
            <span style="color:#f7ca18">গি</span>
            <span style="color:#f2784b">রি</span>
            <span style="color:#1f3a93">ঙ্গি</span>
            <span style="color:#87d37c">বা</span>
            <span style="color:#26A65B">জ</span>
        </h1>
    </div>
{% endblock %}

{% block main_ %}
    <h4>আপাতত এদের ফলো করছি</h4><hr>
    {% for f in people_i_follow %}
        <!-- remember, in html, you have to use the url "name"-->
        <h5><a href="{% url 'following_profile' pk=f.pk %}"> {{ f }}</a></h5>
    {% endfor %}
{% endblock %}
